{% extends "layout-simple.html" %}

{% block headstyles %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>What is Forward Flow?</h1>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="left">
    	<p><em>A Stream of Consciousness.</em> Each of us possesses a stream of consciousness, a steady flow of thoughts that define our mental life.  This naturalistic stream is hard to capture, but has been assessed with free association, in which people sequentially list their thoughts.  Unfortunately, free association is a qualitative task that seems hard to quantify.</p>
      <p><em>An Analytic Technique.</em> However, <a href="http://lsa.colorado.edu/" target="_blank">latent semantic analysis (LSA)</a> provides a way to quantify the conceptual content of naturalistic thought.  LSA computes the semantic distance between two words–“snow” and “white” have a small semantic distance (they are close in meaning), whereas “snow” and “carburetor” have a large semantic distance.</p>
      <p><em>Forward Motion in Thought.</em> Forward flow is the average semantic distance between any given thought and all previous thoughts.  It can be understood as the ability for a stream of consciousness to flow forward (or linearly), leaving behind previous thoughts.  Low forward flow is when thoughts circle back to previous thoughts (e.g., happy, smile, dentist, teeth, smile, happy); high forward flow is when thoughts continue to flow away from the past (e.g., happy, smile, dentist, doctor, hospital, helicopter).</p>
      <p><em>Forward Flow and Creativity.</em> Our work suggests that this forward motion in naturalistic thought predicts creativity.  People with higher forward flow give more creative answers on divergent thinking tasks, and those with creative careers (e.g., actors, entrepreneurs) have higher forward flow than others.</p>
      <p><em>Graphing Forward Flow.</em> Forward flow provides a way to graph people’s stream of thought—via the thought plot.</p>
    </div>
  </div>

  <br />
  <hr>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <form action="/forward_flow">
        <button class="btn btn-lg btn-default" type="submit">Try it out</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
