{% extends "layout-simple.html" %}

{% block headstyles %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>What is Forward Flow?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h3>Measuring imagination with LSA</h3>
    </div>
  </div>

  <br />

  <div class="row" align="center">
    <img src="static/assets/img/lines.png" alt="Lines">
  </div>

  <br />
  <hr>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <form action="/forward_flow">
        <button class="btn btn-lg btn-default" type="submit">Try it out</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
