  <style>
    .btn-green {
      background-color: green;
      opacity: 0.8;
      filter: alpha(opacity=80);
      border-color: #eeeeee;
      color: #eeeeee;
    }
    .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .btn-green.dropdown-toggle {
      background-color: green;
      color: #dddddd;
      border-color: #dddddd;
    }
    .btn-blue {
      background-color: blue;
      opacity: 0.8;
      filter: alpha(opacity=80);
      border-color: #eeeeee;
      color: #eeeeee;
    }
    .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
      background-color: blue;
      color: #dddddd;
      border-color: #dddddd;
    }
    .btn-red {
      background-color: red;
      opacity: 0.8;
      filter: alpha(opacity=80);
      border-color: #eeeeee;
      color: #eeeeee;
    }
    .btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open > .btn-red.dropdown-toggle {
      background-color: red;
      color: #dddddd;
      border-color: #dddddd;
    }
    .btn-pink {
      background-color: pink;
      opacity: 0.8;
      filter: alpha(opacity=80);
      border-color: #888;
      color: #888;
    }
    .btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .open > .btn-pink.dropdown-toggle {
      background-color: pink;
      color: #777;
      border-color: #777;
    }
  </style>
