{% extends "layout-simple.html" %}

{% block headstyles %}
{% include "button-styles.html" %}
{% endblock %}

{% block headscripts %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="hidden">
      <h2>{{ title }}</h2>
    </div>
    <div class="crawl" align="center">
      <h3>{{ message }}</h3>
    </div>
    <span id="out">
    </span>
  </div>

  {% if not output %}
  <div class="hidden">
  {% endif %}
  <br />
  <div class="container-fluid">
    <div class="row">
      <table class="table table-bordered" width="100%">
        <thead>
          <tr>
            {% for hword in header %}
              <th>{{ hword }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in output %}
          <tr>
            {% for word in row %}
              {% if loop.first %}
                <th>{{ word }}</th>
              {% else %}
                <td>{{ word }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <br />
      <hr />
    </div>
  </div>
  {% if not output %}
  <br />
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Forward Flow: A Measure of Creative Imagination</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <p>How do you measure imagination?  And are some imaginations more creative than others?</p>
      <p>We developed the measure of forward flow to capture imagination.  You can <a href="/about">learn more about it here</a>, see your own <a href="/forward_flow">forward flow</a>, or <a href="/query_data">upload a file</a> to get the forward flow of many people.</p>
	  <h2>Forward flow predicts creativity.</h2>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <form action="/about">
        <button class="btn btn-lg btn-default" type="submit">Learn more</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}

{% block endscripts %}{% endblock %}
