{% extends "layout.html" %}

{% block sectionstyles %}
  <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap-select.css" />
  <style>
  body {
      //padding-bottom: 60px;
      //margin-bottom: 20px;
  }
  .footer {
      position: relative;
      //text-align: right;
      //visibility: hidden;
  }
  </style>
{% endblock %}

{% block headstyles %}{% endblock %}
{% block headscripts %}{% endblock %}

{% block content %}{% endblock %}

{% block sectionscripts %}
  <script src="static/assets/js/bootstrap-select.js"></script>
{% endblock %}

{% block endscripts %}{% endblock %}
