<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Forward Flow</title>
    <!--
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css" />
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/assets/css/site.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/fonts/site-fonts.css" />
    {% block sectionstyles %}{% endblock %}
    {% block headstyles %}{% endblock %}

    <noscript>Sorry: To work properly, this page requires JavaScript.</noscript>
    {% block headscripts %}{% endblock %}
</head>

<body>
    {% include "navbar-simple.html" %}

    <div class="container body-content">
        {% block content %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <br />
                <br />
                <br />
			    <!--
                <p>&copy; {{ year }} - Eric Chen</p>
			    -->
            </div>
        </footer>
    </div>

    <!--
    <script src="static/assets/js/jquery-1.10.2.min.js"></script>
    <script src="static/assets/js/bootstrap.js"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="static/assets/js/respond.js"></script>
    <script src="static/assets/js/modernizr-2.6.2.js"></script>
    {% block sectionscripts %}{% endblock %}
    {% block endscripts %}{% endblock %}

</body>
</html>
