{% extends "layout.html" %}

{% block headscripts %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div align="center">
      <h3>{{ title }}</h3>
    </div>
    <hr />
  </div>

  {% if not output %}
  <div class="hidden">
  {% endif %}
  <div class="row">
    <table class="table table-bordered" width="100%">
      {% for row in output %}
        <tr>
          {% for word in row %}
            {% if loop.first %}
              <th><a href="{{ url_for('load') }}?construct={{ word }}">{{ word }}</a></th>
            {% else %}
              <td>{{ word }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
  {% if not output %}
  </div>
  {% endif %}

  {% if not message %}
  <div class="hidden">
  {% endif %}
  <br />

  <div class="row">
    <h4>Information about the current construct:</h4>
    <div class="crawl">
      <p>{{ message }}</p>
    </div>
  </div>

  <br />
  {% if not message %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block endscripts %}{% endblock %}
