{% extends "layout-styled.html" %}

{% block content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-sm-8">
    <form method="POST" class="form-inline" action="/register">
      {{ form.hidden_tag() }}
      <p>{{ form.email.label }} {{ form.email(size=20) }}</p>
      <p>{{ form.username.label }} {{ form.username(size=20) }}</p>
      <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
      <p>{{ form.password2.label }} {{ form.password2(size=20) }}</p>
      <p>{{ form.submit }}</p>
      <br>
    </form>
</div>
{% endblock %}
