{% extends "layout-simple.html" %}

{% block content %}
<div class="container">
  <div class="page-header" align="center">
      <h1>Please sign in</h1>
  </div>
  <div class="col-md-4">
      <form method="POST" class="form-inline" action="/signin_page">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }} {{ form.username(size=20) }}</p>
        <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p>{{ form.submit }}</p>
        <br>
      </form>
  </div>
</div>
{% endblock %}
