{% extends "layout-study.html" %}

{% block headstyles %}{% endblock %}
{% block headscripts %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h4>University of North Carolina at Chapel Hill</h4>
      <h4>Consent to Participate in a Research Study</h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
<p><strong>Consent Form Version Date:</strong> July 2nd 2015 </p>
<p><strong>IRB Study #</strong> 15-1620 </p>
<p><strong>Title of Study:</strong> Naturalistic Thinking </p>
<p><strong>Principal Investigator:</strong> Kurt Gray </p>
<p><strong>Principal Investigator Department:</strong> Psychology </p>
<p><strong>Principal Investigator Email Address:</strong> kurtgray@email.unc.edu </p>
<p><strong>Funding Source and/or Sponsor:</strong> Templeton Foundation </p>
<p><strong>Study Contact Email:</strong> camdoyle@live.unc.edu </p>
<hr />

<h4>What are some general things you should know about research studies?</h4>
<p>You are being asked to take part in a research study.  To join the study is voluntary. </p>
<p>You may refuse to join, or you may withdraw your consent to be in the study, for any reason, without penalty. </p>
<p>Research studies are designed to obtain new knowledge. This new information may help people in the future.   You may not receive any direct benefit from being in the research study. There also may be risks to being in research studies.  </p>
<p>Details about this study are discussed below.  It is important that you understand this information so that you can make an informed choice about being in this research study.  </p>
<p>You will be given a copy of this consent form if you would like one.  You should ask the researchers named above, or staff members who may assist them, any questions you have about this study at any time. </p>
<br />

<h4>What is the purpose of this study? </h4>
<p>The purpose of this research study is to gain insight into how we think naturalistically. If you agree to participate, you will help us learn about how humans think. </p>
<br />

<h4>Are there any reasons you should not be in this study?</h4>
<p>You should not be in this study if you are not between the ages of 18 and 99. </p>
<br />

<h4>How many people will take part in this study?</h4>
<p>There will be approximately 200 people in this research study.</p>
<br />

<h4>How long will your part in this study last?</h4>
<p>Your participation in this study will be 10 minutes or less.  </p>
<br />

<h4>What will happen if you take part in the study?</h4>
<ul>
  <li>You will complete a series of measures designed to assess naturalistic thinking—the tacit, experiential, and intuitive reasoning of everyday interaction. </li>
  <li>You will then complete some reasoning tasks, and provide some demographic information about yourself. </li>
</ul>
<br />

<h4>What are the possible benefits from being in this study?</h4>
<p>Research is designed to benefit society by gaining new knowledge.  You will not benefit personally from being in this research study. </p>
<br />

<h4>What are the possible risks or discomforts involved from being in this study?</h4>
<p>Although not anticipated, there is a small risk that you may experience emotional distress. If you become distressed, you can withdraw from the study at any time. Additionally, there may be uncommon or previously unknown risks. You should report any problems to the researcher. </p>
<br />

<h4>What if we learn about new findings or information during the study?</h4>
<p>You will be given any new information gained during the course of the study that might affect your willingness to continue your participation.  </p>
<br />


<h4>How will information about you be protected?</h4>
<ul>
  <li>Your data will be kept in a locked cabinet in 315 Davie Hall on UNC’s campus. </li>
  <li>Only the members of the research team in 315 Davie Hall will have access to your data. </li>
  <li>You will be assigned an ID number that is not linked to your name in any way. </li>
</ul>
<p>Participants will not be identified in any report or publication about this study. Although every effort will be made to keep research records private, there may be times when federal or state law requires the disclosure of such records, including personal information.  This is very unlikely, but if disclosure is ever required, UNC-Chapel Hill will take steps allowable by law to protect the privacy of personal information.  In some cases, your information in this research study could be reviewed by representatives of the University, research sponsors, or government agencies (for example, the FDA) for purposes such as quality control or safety. </p>
<br />

<h4>What will happen if you are injured by this research?</h4>
<p>All research involves a chance that something bad might happen to you. This may include the risk of personal injury. In spite of all safety measures, you might develop a reaction or injury from being in this study. If such problems occur, the researchers will help you get medical care, but any costs for the medical care will be billed to you and/or your insurance company. The University of North Carolina at Chapel Hill has not set aside funds to pay you for any such reactions or injuries, or for the related medical care. You do not give up any of your legal rights by participating in this research. </p>
<br />

<h4>What if you want to stop before your part in the study is complete?</h4>
<p>You can withdraw from this study at any time, without penalty.  The investigators also have the right to stop your participation at any time. This could be because you have had an unexpected reaction, or have failed to follow instructions, or because the entire study has been stopped. </p>
<br />

<h4>Will it cost you anything to be in this study?</h4>
<p>It will not cost you anything to be in this study.  </p>
<br />

<h4>What if you are a UNC student?</h4>
<p>You may choose not to be in the study or to stop being in the study before it is over at any time. This will not affect your class standing or grades at UNC-Chapel Hill. You will not be offered or receive any special consideration if you take part in this research. </p>
<br />

<h4>Who is sponsoring this study?</h4>
<p>This research is funded by the John Templeton Foundation.  This means that the research team is being paid by the sponsor for doing the study.  The researchers do not, however, have a direct financial interest with the sponsor or in the final results of the study. </p>
<br />

<h4>What if you have questions about this study?</h4>
<p>You have the right to ask, and have answered, any questions you may have about this research. If you have questions about the study (including payments), complaints, concerns, or if a research-related injury occurs, you should contact the researchers listed on the first page of this form. </p>
<br />

<h4>What if you have questions about your rights as a research participant?</h4>
<p>All research on human volunteers is reviewed by a committee that works to protect your rights and welfare. If you have questions or concerns about your rights as a research subject, or if you would like to obtain information or offer input, you may contact the Institutional Review Board at 919-966-3113 or by email to IRB_subjects@unc.edu.</p>
<br />
  </div>
</div>

  <div class="row" align="center">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Participant Agreement </h3>
      <h4>By continuing to the next page, you indicate that you agree to participate in this research study. </h4>
    </div>
  </div>

  <br />
  <br />

  <div class="row" align="center">
    <div class="col-sm-offset-4 col-sm-4">
      <form action="/irb" method="POST" class="form-horizontal">
        <button type="submit" id="startStudy" name="startStudy" class="btn btn-lg btn-default">Continue</button>
        <!--
        <a href="{{ url_for('irb') }}" class="btn btn-lg btn-info" role="button">I agree to participate </a>
        -->
      </form>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="row" align="center" id="message">
    {% for message in bottle %}
      {% if loop.first %}
        <hr />
      {% endif %}
      <h3>{{ message }}</h3>
      {% if loop.last %}
        <hr />
      {% endif %}
    {% endfor %}
  </div>

</div>
{% endblock %}

{% block endscripts %}{% endblock %}
