{% extends "layout-simple.html" %}

{% block headstyles %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Our Team</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" align="center">
      <h3></h3>
    </div>
  </div>

  <br />
  <hr>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <form action="/">
        <button class="btn btn-lg btn-default" type="submit">Back Home</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
