@font-face {
	font-family: 'Verlag-Book';
	src: local("☺"),
      url('/static/assets/fonts/Verlag-Book.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSans';
	src: local("☺"),
      url('/static/assets/fonts/LiberationSans-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: local("☺"),
      url('../../fonts/Quicksand-Regular.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: local("☺"),
      url('../../fonts/Quicksand-Bold.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Slim-Joe';
	src: local("☺"),
      url('/static/assets/fonts/Slim-Joe.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
}
