body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* Margin bottom by footer height */
    /* Use this for a sticky footer. */
    /* margin-bottom: 100px; */
    font-family: "LiberationSans", "Verlag-Book", "Quicksand", "Arial";
    // background-color: #fcfcfc;
    background-color: white;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue","LiberationSans","Open Sans",Arial,sans-serif;
}

p {
  font-size: large;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set up for items to be centered */
.center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin: 0 auto;
}

/* Set up text boxes for this site */
.thought-box {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  //border-bottom-right-radius: 0;
  //border-bottom-left-radius: 0;
  border-radius: 4px;
  //border-width: 1px;
  //border-style: solid;
  border: 1px solid #cccccc;
  //box-shadow: none;
  //transition: box-shadow 0.1s, border 0.1s;
}
.thought-box:focus {
  z-index: 2;
  box-shadow: 0 0 3px 1px #9696ff;
}

/* Set up the footer */
.footer {
    /* Use absolute position for a sticky footer. */
    /* Set the fixed height of the footer here */
    /* height: 100px; */
    /* position: absolute; */
    position: relative;
    bottom: 0;
    width: 80%;
    //background-color: #f5f5f5;
}
.footer > .container {
    /*
    padding-right: 15px;
    padding-left: 15px;
    */
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* Original setting for textarea. But now let it be wider.
textarea {
    max-width: 280px;
}
*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
